*{
    margin: 0;
}

.contenedor{
    background-color: green;
    display: grid;
    grid-template-areas: 'header header header'
    'aside body aside2'
    'footer footer footer';
}

#item1{
    grid-area: header;
    background-color: yellow;
    height: 200px;
    text-align: center;
}
#item2{
    grid-area: aside;
    background-color: lightblue;
    height: 230px;
}
#item3{
    grid-area: body;
    background-color: lime;
}
#item4{
    grid-area: aside2;
    background-color: violet;
}
#item5{
    grid-area: footer;
    background-color: purple;
    height: 200px;
}